<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- OSU Navbar-->
<nav id="osu-navbar" class="bux-osu-nav" aria-label="Ohio State links">
  <div class="bux-osu-nav__overlay"></div>
  <div class="bux-osu-nav__wrapper">
    <h2 class="visually-hidden">Ohio State navigation bar</h2>
    <div class="bux-container">
      <div id="osu-navname-block">
        <a class="bux-osu-nav__osu-logo-link" href="https://osu.edu">
          <img class="bux-osu-nav__osu-logo-img" src="/images/osu-logos/navbar/osu-navbar.svg"
            alt="The Ohio State University" />
        </a>
      </div>
      <div id="osu-navlinks-block">
        <button type="button" id="osu-nav-trigger" aria-controls="osu-navlinks" aria-expanded="false">
          <span class="visually-hidden">Show Links</span>
        </button>
        <ul id="osu-navlinks" aria-labelledby="osu-nav-trigger" class="bux-osu-nav__links">
          <li class="bux-osu-nav__link"><a href="https://www.osu.edu/map">Map</a></li>
          <li class="bux-osu-nav__link"><a href="http://buckeyelink.osu.edu/">Buckeye Link</a></li>
          <li class="bux-osu-nav__link"><a href="https://email.osu.edu/">Webmail</a></li>
          <li class="bux-osu-nav__link"><a href="https://www.osu.edu/search/">Search Ohio State</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Header -->
<header id="masthead" class="bux-header">
  <div class="bux-container bux-grid">
    <div
      class="bux-header__col bux-header__col--left bux-grid__cell bux-grid__cell--12 bux-grid__cell--8@md bux-grid__cell--9@xl">
      <div class="bux-header__site-name-container">
        <div class="bux-header__site-name">
          <a href='#'>OSU UREA</a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="bux-container">
  <div class="bux-menu-wrapper">
    <div class="bux-container bux-grid bux-container--menu bux-menu--with-search ">
      <nav id="bux-main-menu" aria-label="Main Navigation" class="disclosure-nav disclosure-nav-orientation-horizontal">
        <ul class="bux-menu">
          <li class="bux-menu__item">
            <a href="index.html" class="bux-menu__link">Home</a>
          </li>
          <li class="bux-menu__item">
            <a href="mentors.html" class="bux-menu__link">Mentors</a>
          </li>
          <li class="bux-menu__item">
            <a href="resources.html" class="bux-menu__link">Resources</a>
          </li>
          <li class="bux-menu__item">
            <a href="application.html" class="bux-menu__link">Apply</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>