{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<nav aria-label="Breadcrumb" class="bux-breadcrumb">
	<ol class="bux-breadcrumb__list">
		{% for item in breadcrumb %}
			{% if loop.last %}
				<li class="bux-breadcrumb__item bux-breadcrumb__item--current" aria-current="page">{{ item.text }}</li>
			{% else %}
				<li class="bux-breadcrumb__item">
					{% if item.url %}
						<a class="bux-breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
					{% else %}
						{{ item.text }}
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ol>
</nav>
