{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<div class="bux-grid__cell bux-grid__cell--12@sm">

{% include base_path ~ directory ~ bux ~ '/twig/breadcrumb.twig' %}

<div class="hero-with-heading">
    <div class="bux-hero__image-fullwidth">
        <img class="bux-image " src={{ "/images/placeholders/bux-image-placeholder-16-9.png"|path }} alt="">
    </div>
   <div class="heading-one"><h1>H1 page title</h1></div>
</div>

<div class="page-subhead bux-mar-top-sp-16">One to three concise sentences of introtext informs visitors what the purpose of the
webpage is. It helps users quickly decide if they’re in the right place or not.</div>

<div class="bux-mar-top-sp-24">
<p>Body copy lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet rhoncus velit, nec dapibus velit varius eget. Sed lobortis
    interdum metus quis posuere. Mauris ac tempus quam, eget volutpat magna. Suspendisse aliquet eros a mauris luctus pretium. Mauris quis
    tellus vel ligula nibus ecitur. Praesent venenatis nulla in congue vehicula. In hac habitasse platea dictumst. Integer non viverra purus.</p>
    
   <p>In varius feugiat dolor nec dapibus. Aliquam quis lacinia magna. Inline link example fusce vestibulum iaculis ex, a tincidunt felis. In vel diam
    vitae sapien placerat aliquam ut cursus justo. In hac habitasse platea dictumst. Proin suscipit, orci a scelerisque porttitor, ligula lorem cursus
    metus, a semper diam quam quis mauris. Fusce auctor ornare odio a dignissim.</p>
</div>
            
<div class="bux-mar-top-sp-24">
    <h2>H2 Heading Two</h2>
    {% include base_path ~ directory ~ bux ~ '/twig/accordion-group.twig' %}
</div>

<div class="bux-mar-top-sp-24">
    <h2>H2 Heading Two</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    {% include base_path ~ directory ~ bux ~ '/twig/list-unordered.twig' %}
</div>

<div class="bux-mar-top-sp-24">
    
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet rhoncus velit, nec dapibus velit varius eget. 
                Sed lobortis interdum metus quis posuere. Mauris ac tempus quam, eget volutpat magna.</p>
    {% include base_path ~ directory ~ bux ~ '/twig/list-ordered.twig' %}
</div>
<div class="bux-mar-top-sp-24">
    {% include base_path ~ directory ~ bux ~ '/twig/panel.twig' %}
</div>

<div class="bux-mar-top-sp-24">
    <h2>H2 Heading Two</h2>
    <h3>H3 Heading Three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet 
    rhoncus velit, nec dapibus velit varius eget. Sed lobortis 
    interdum metus quis posuere. Mauris ac tempus quam, eget volutpat magna.</p>
    <h3>H3 Heading Three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet 
    rhoncus velit, nec dapibus velit varius eget. Sed lobortis 
    interdum metus quis posuere. Mauris ac tempus quam, eget volutpat magna.</p>
</div>
</div>
