{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

 <div class="bux-grid__cell bux-grid__cell--12@sm">
            
    {% include base_path ~ directory ~ bux ~ '/twig/breadcrumb.twig' %}

    <h1>H1 FirstName LastName</h1>
    <div class="page-subhead">One to three concise sentences of introtext informs visitors what the purpose of the
        webpage is. It helps users quickly decide if they’re in the right place or not.</div>
</div>

<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--9@md bux-mar-top-sp-24">
                    <div class="bux-panel bux-mar-all-none">
                        <div class="icon">
                            <span class="icon-envelope"></span>
                            <div><strong>Email</strong> <br>name.#@osu.edu</div>
                            </div>
                            <div class="icon">
                                <span class="icon-phone"></span>
                                <div><strong>Phone</strong> <br>123-456-7890</div>
                                </div>
                                <div class="icon">
                                <span class="icon-location-pin"></span>
                                    <div><strong>Office</strong> <br>123 Mendenhall Laboratory</div>
                                    </div>
                                    <div class="icon">
                                    <span class="icon-link"></span>
                                        <div><strong>Links</strong> <br><div class="bux-link-example">
                                
                                                <a class="bux-link" href="#">Link to professional website or blog</a> 
                                              
                                          </div></div>
                                        </div>
                      </div>
                  </div>
<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--3@md bux-mar-top-sp-24">
                    
    <img class="bux-image" src={{ "/images/placeholders/bux-image-placeholder-1-1.png"|path }} alt="">
    
</div>

<div class="bux-grid__cell bux-grid__cell--12 bux-mar-top-sp-24">
    <h2>Biography</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis ex nec tristique ullamcorper. Vivamus tristique, lectus eget mattis
        interdum, sem odio sollicitudin lorem, at scelerisque magna metus non odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        mollis ex nec tristique ullamcorper. Vivamus tristique, lectus eget mattis interdum, sem odio sollicitudin lorem, at scelerisque magna metus
        non odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis ex nec tristique ullamcorper. Vivamus tristique, lectus eget mattis
            interdum, sem odio sollicitudin lorem, at scelerisque magna metus non odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            mollis ex nec tristique ullamcorper. Vivamus tristique, lectus eget mattis interdum, sem odio sollicitudin lorem, at scelerisque magna metus
            non odio.</p>

 <h2 class="bux-mar-top-sp-24">Education</h2>
 <span><strong>Degree</strong></span><br>
 <span>Institution, Location, Year</span><br><br>

 <span><strong>Degree</strong></span><br>
 <span>Institution, Location, Year</span><br><br>

 <span><strong>Degree</strong></span><br>
 <span>Institution, Location, Year</span>

 <h2 class="bux-mar-top-sp-24">Research Interests</h2>

 <ul class="bux-list-ul">
    <li>
      List item 1
    </li>
    <li>List item 2</li>
    <li>
      List item 3
        </li>
      </ul>
      
    <h2 class="bux-mar-top-sp-24">Publications</h2>

    <div class="bux-link-example bux-link-example--after">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            mollis ex nec tristique ullamcorper. <a class="bux-link bux-link--after" href="#">Link to Publicaion</a></p>
       
      </div>

  </div>
