{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

{% for item in items %}
<figure class="bux-quote">
	{% if item.quote_image %}
	{% render '@image--1-by-1' with {class:"bux-quote__image"} %}
	{% endif %}
	<blockquote {% if item.cite %}cite="{{ item.cite }}"{% endif %}>
		<p>&ldquo;{{ item.text }}&rdquo;</p>
	</blockquote>
	<figcaption>
		<div class="bux-quote__source">{{ item.source }}</div>
		<cite>{{ item.attribution }}</cite>
	</figcaption>
</figure>
{% endfor %}