{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<form action="{{ site_search_action }}" id="site-search" class="bux-search">
  <label class="bux-search__label visually-hidden" for="search-input"> Search this site</label>
  <input id="search-input" class="bux-search__input" type="search" placeholder="Search this site">
  <button class="bux-search__submit"><span class="visually-hidden">Submit search</span></button>
</form>
