{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<div>
    <a id="skip" href="#{{ target|default('main-content') }}" class="bux-skip-navigation">
        Skip to main content
    </a>
</div>