body {
    font-family: 'Inter', sans-serif;
    color: #676767;
}

.event-block{
    /* block design */
    width : 334px;
    height: 375px;
    margin : auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    

    /* children layout */
    line-height: 0.5; 
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
}

.image-gallary-block{
    width : 334px;
    height: 221px;
    background-color: rgb(187, 187, 187);
    margin-bottom : 2px;
    flex-grow: 0; 
}


/* Basic information block */

.basic-information-block{
    padding-left: 15px;
    flex-grow: 0; 
    line-height: 0.8; 
}

.basic-information-block h1{
    font-size: 20px;
}

.basic-information-block p{
    font-size: 16px;
}


/* Organization block */

.organization-block{
    background-color:rgb(242, 242, 242);
    padding-left: 15px;
    flex-grow: 1;  
    display: flex; 
    align-items: center;
}

.organization-block p{
    padding-left: 10;
}

.club-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}