{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

{% include base_path ~ directory ~ bux ~ '/twig/osu-navbar.twig' %}
{% include base_path ~ directory ~ bux ~ '/twig/header.twig' %}
{% include base_path ~ directory ~ bux ~ '/twig/menu.twig' %}

<div class="bux-container">

<div class="main-content">

  {# Start of main grid that defines the sidebar and main regions on the page #}

  <div class="bux-grid">
    
    
    {# Start of Main #}

    <div class="bux-grid__cell  bux-grid__cell--12@sm bux-grid__cell--10@md bux-grid__cell--9@md moe-main" style="margin-left:auto; margin-right:auto;">
      
    <div class="bux-grid bux-pad-bottom-sp-24">

      <div class="bux-grid__cell bux-grid__cell--12@sm bux-mar-top-sp-48">

        {% include base_path ~ directory ~ bux ~ '/twig/breadcrumb.twig' %}
        
        <h1 class="bux-mar-top-sp-32">
          One Column Page Demo
        </h1>
        <h2>
          Overview of spacing and layout control in BUX
        </h2>
        <p>
          <strong>The container</strong> is a wrapper element that is used to align content consistently across regions. This element creates the illusion of a left and right boundary that spans the length of the page. The container element has a width of 100% and a fixed left and right padding (set by the $container-gutter variable) until it reaches a pre-defined max-width. 
        </p>
        <p>
          A <strong>12 column grid system</strong> is used to help align content within the container. The 12 columns are responsive and will proportionally span the width of whatever bux-grid parent element they are in. Grids can also be nested for more control over layout. Every bux-grid parent element has its own set of 12 columns. The width of one column can therefore vary from grid to grid, but the spacing between the columns is a fixed value (see below).
        </p>
        <p>
          <strong>The gutter</strong> is the space between columns. The "gutter" that we see between columns is actually 2x the $gutter variable that we set. For example, if $gutter is set to 16px the actual space between columns that we see is 32px. This is a fixed number, so even as columns resize, the space betwen does not change unless we re-define that $gutter variable.
        </p>
        <h2>
          Details on this layout
        </h2>
        <p>
          The main region is 10 columns wide. 
        </p>
        <p>
          <strong>Current breakpoint: <span class="moe-demo-sm">Small</span> <span class="moe-demo-md">Medium</span> <span class="moe-demo-lg">Large</span> <span class="moe-demo-xl">XL</span> <span class="moe-demo-xxl">XXL</span></strong>
        </p>
      </div>

      <div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--6@md bux-mar-top-sp-24">
        <div class="bux-grid__example--small">
          <span>Two Col</span>
        </div>
      </div>
      <div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--6@md bux-mar-top-sp-24">
        <div class="bux-grid__example--small">
          <span>Two Col</span>
        </div>
      </div>

      <div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--4@md bux-mar-top-sp-24">
        <div class="bux-grid__example--small">
          <span>Three Col</span>
        </div>
      </div>
      <div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--4@md bux-mar-top-sp-24">
        <div class="bux-grid__example--small">
          <span>Three Col</span>
        </div>
      </div>
      <div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--4@md bux-mar-top-sp-24">
        <div class="bux-grid__example--small">
          <span>Three Col</span>
        </div>
      </div>

      <div class="bux-grid__cell bux-grid__cell--6@sm bux-grid__cell--3@md bux-mar-top-sp-24">
        <div class="bux-grid__example--small">
          <span>Four Col</span>
        </div>
      </div>
      <div class="bux-grid__cell bux-grid__cell--6@sm bux-grid__cell--3@md bux-mar-top-sp-24">
        <div class="bux-grid__example--small">
          <span>Four Col</span>
        </div>
      </div>
      <div class="bux-grid__cell bux-grid__cell--6@sm bux-grid__cell--3@md bux-mar-top-sp-24">
        <div class="bux-grid__example--small">
          <span>Four Col</span>
        </div>
      </div>
      <div class="bux-grid__cell bux-grid__cell--6@sm bux-grid__cell--3@md bux-mar-top-sp-24">
        <div class="bux-grid__example--small">
          <span>Four Col</span>
        </div>
      </div>
      
    </div>

    {# End of Main #}

    </div>
  </div>
  
  
</div>
</div>
{% include base_path ~ directory ~ bux ~ '/twig/footer.twig' %}
