{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<nav id="osu-navbar" class="bux-osu-nav" aria-label="Ohio State links">
	<div class="bux-osu-nav__overlay"></div>
	<div class="bux-osu-nav__wrapper">
		<div class="bux-container">
			<div id="osu-navname-block">
				<a class="bux-osu-nav__osu-logo-link" href="https://osu.edu">
					<img class="bux-osu-nav__osu-logo-img" src="{{ base_path ~ directory ~ bux }}/images/osu-logos/navbar/osu-navbar.svg" alt="The Ohio State University"/>
				</a>
			</div>
			<div id="osu-navlinks-block">
				<button type="button" id="osu-nav-trigger" aria-controls="osu-navlinks" aria-expanded="false">
					<span class="visually-hidden">Show Links</span>
				</button>
				<ul id="osu-navlinks" aria-labelledby="osu-nav-trigger" class="bux-osu-nav__links">
					<li class="bux-osu-nav__link"><a href="https://www.osu.edu/map">Map</a></li>
					<li class="bux-osu-nav__link"><a href="http://buckeyelink.osu.edu/">Buckeye Link</a></li>
					<li class="bux-osu-nav__link"><a href="https://email.osu.edu/">Webmail</a></li>
					<li class="bux-osu-nav__link"><a href="https://www.osu.edu/search/">Search Ohio State</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
