{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<!-- start one column -->

<div class="bux-grid__cell bux-grid__cell--12 bux-mar-top-sp-24">
<div class="sample-container">
  <span>One Col</span>
</div>

</div>
<!-- end one column -->

<!-- start two column -->

<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--6@md bux-mar-top-sp-24">
<div class="sample-container">
  <span>Two Col</span>
</div>
</div>
<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--6@md bux-mar-top-sp-24">
<div class="sample-container">
  <span>Two Col</span>
</div>
</div>
<!-- end two column -->
<!-- start three column -->

<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--4@md bux-mar-top-sp-24">
<div class="sample-container">
  <span>Three Col</span>
</div>
</div>
<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--4@md bux-mar-top-sp-24">
<div class="sample-container">
  <span>Three Col</span>
</div>
</div>
<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--4@md bux-mar-top-sp-24">
<div class="sample-container">
  <span>Three Col</span>
</div>
</div>
<!-- end three column -->
<!-- start four column -->

<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--3@md bux-mar-top-sp-24">
<div class="sample-container">
  <span>Four Col</span>
</div>
</div>
<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--3@md bux-mar-top-sp-24">
<div class="sample-container">
  <span>Four Col</span>
</div>
</div>
<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--3@md bux-mar-top-sp-24">
<div class="sample-container">
  <span>Four Col</span>
</div>
</div>
<div class="bux-grid__cell bux-grid__cell--12@sm bux-grid__cell--3@md bux-mar-top-sp-24">
<div class="sample-container">
  <span>Four Col</span>
</div>
</div>
<!-- end four column -->


