{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

{% include base_path ~ directory ~ bux ~ '/twig/osu-navbar.twig' %}
{% include base_path ~ directory ~ bux ~ '/twig/header.twig' %}

<div class="bux-menu-wrapper">
  {% include base_path ~ directory ~ bux ~ '/twig/menu.twig' %}
</div>

<div class="bux-container bux-mar-top-sp-32">

<div class="main-content bux-mar-top-sp-24">

  <h1 class="bux-h1 bux-mar-tb-sp-24">Main content goes here</h1>

  <div class="bux-grid bux-pad-bottom-sp-24">

    <div class="bux-grid__cell bux-grid__cell--3@lg bux-grid__cell--12@sm">

    {% include base_path ~ directory ~ bux ~ '/twig/sidebar-nav.twig' %}

    </div>

    <div class="bux-grid__cell bux-grid__cell--9@lg bux-grid__cell--12@sm">

    <div class="bux-grid">

    <div class="bux-grid__cell bux-grid__cell--12">

      {% include base_path ~ directory ~ bux ~ '/twig/breadcrumb.twig' %}

      <div class="bux-grid__example">

        <span>bux-grid__cell bux-grid__cell--12</span>

      </div>
    
    </div> 

    <div class="bux-grid__cell bux-grid__cell--6@lg bux-grid__cell--12@sm bux-mar-top-sp-24">

      <div class="bux-grid__example">

        <span>bux-grid__cell bux-grid__cell--6@lg bux-grid__cell--12@sm bux-mar-top-sp-24</span>

      </div>
    
    </div> 

    <div class="bux-grid__cell bux-grid__cell--6@lg bux-grid__cell--12@sm bux-mar-top-sp-24">

      <div class="bux-grid__example">

        <span>bux-grid__cell bux-grid__cell--6@lg bux-grid__cell--12@sm bux-mar-top-sp-24/span>

      </div>
    
    </div> 
    </div>

    <div class="bux-grid">

    <div class="bux-grid__cell bux-grid__cell--8@lg bux-grid__cell--12@sm bux-mar-top-sp-24">

        <div class="bux-grid__example">

          <span>bux-grid__cell--8@lg bux-grid__cell--12@sm bux-mar-top-sp-24</span>

        </div>
      
      </div>  

    
    <div class="bux-grid__cell bux-grid__cell--4@lg bux-grid__cell--12@sm bux-mar-top-sp-24">

      <div class="bux-grid__example">

        <span>bux-grid__cell--4@lg bux-grid__cell--12@sm bux-mar-top-sp-24</span>

      </div>
    
    </div> 
    
    </div>

</div>
</div>
</div>
</div>
{% include base_path ~ directory ~ bux ~ '/twig/footer.twig' %}
