{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Preview Layout</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Compiled css -->
		<link rel="stylesheet" href="{{ "/css/bux-styles.css"|path }}">
		<link rel="stylesheet" href="{{ "/system-css/system-styles.css"|path }}">

	</head>
	<body>

<div class="bux-mar-bottom-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/osu-navbar.twig' %}
</div>

	<div class="bux-container">
		{{ yield }}
	</div>

		<!-- Compiled js -->
		<script src="{{ "/js/bux.min.js"|path }}"></script>
		<script>
			const buckeyeAlert = new BuckeyeAlert({
				url: 'https://www.osu.edu/feeds/alert-test/feed.rss',
				callback: function() {
				console.log('The Buckeye Alert callback has been executed.');
				},
			});

			buckeyeAlert.initialize();
		</script>
	</body>
</html>
