{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<button id="bux-back-to-top" class="bux-back-to-top">
  <span class="bux-back-to-top__icon icon icon-jump-top" aria-hidden="true"></span>
  <span class="bux-back-to-top__text">{{ text|default("Back to top") }}</span>
</button>
