{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<div id="bux-buckeye-alert" class="bux-buckeye-alert" aria-label="Buckeye Alert" aria-live="polite" role="status" hidden>
</div>
