{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

{% include base_path ~ directory ~ bux ~ '/twig/osu-navbar.twig' %}
{% include base_path ~ directory ~ bux ~ '/twig/header.twig' %}
{% include base_path ~ directory ~ bux ~ '/twig/menu.twig' %}

<div class="bux-container bux-mar-top-sp-32">

<div class="main-content bux-mar-top-sp-24">

{% include base_path ~ directory ~ bux ~ '/twig/breadcrumb.twig' %}

  <h1 class="bux-h1 bux-mar-tb-sp-24">Main content goes here</h1>

  <div class="bux-mar-tb-sp-32">
  {% include base_path ~ directory ~ bux ~ '/twig/hero.twig' %} 
  </div>

  <div class="bux-grid bux-pad-bottom-sp-24">
    <div class="bux-grid__cell bux-grid__cell--8@lg bux-grid__cell--12@sm">

    <!-- Custom lead element should be replaced when available -->
    <p class="bux-lead">Work five-year strategic plan exposing new ways to evolve our design language so scope creep streamline, what about scaling components to a global audience? Sea change drop-dead date. Should leverage existing asserts that ladder up to the message imagineer.</p>
      {% include base_path ~ directory ~ bux ~ '/twig/paragraph.twig' %}
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/quote.twig' %}
      </div>
      {% include base_path ~ directory ~ bux ~ '/twig/paragraph.twig' %}
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/factoid.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/listicle.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% render '@q+a' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/list-ordered.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/list-unordered.twig' %}
      </div>
      
    </div>
    <div class="bux-grid__cell bux-grid__cell--4@lg bux-grid__cell--12@sm">
      {% include base_path ~ directory ~ bux ~ '/twig/card.twig' %}
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/card--gray.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/card--linked-headline.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/card--storytelling.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/card--gray.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/tile.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/tile--standard-icon.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/tile--ui_icon.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/tile--with-text.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/tile--with-image.twig' %}
      </div>
      <div class="bux-mar-tb-sp-32">
      {% include base_path ~ directory ~ bux ~ '/twig/tile--with-1-1-image.twig' %}
      </div>
    </div>
    <div class="bux-grid__cell bux-grid__cell--12">
    {% include base_path ~ directory ~ bux ~ '/twig/card-collection-carousel.twig' %}
  </div>
  </div>

  <h2 class="bux-h2">Forms</h2>

  <div class="bux-grid">

  <div class="bux-grid__cell bux-grid__cell--3">

  {% include base_path ~ directory ~ bux ~ '/twig/checkbox.twig' %}

  <div class="bux-mar-top-sp-16"></div>

  {% include base_path ~ directory ~ bux ~ '/twig/button.twig' %}

  </div>

  <div class="bux-grid__cell bux-grid__cell--3">

  {% include base_path ~ directory ~ bux ~ '/twig/switch.twig' %}

  <div class="bux-mar-top-sp-16"></div>

  {% include base_path ~ directory ~ bux ~ '/twig/button.twig' %} 
  
  </div>

  <div class="bux-grid__cell bux-grid__cell--3">

  {% include base_path ~ directory ~ bux ~ '/twig/radio-button.twig' %}

  <div class="bux-mar-top-sp-16"></div>

  {% include base_path ~ directory ~ bux ~ '/twig/button.twig' %} 
  
  </div>

  <div class="bux-grid__cell bux-grid__cell--3">

  {% include base_path ~ directory ~ bux ~ '/twig/selection-dropdown.twig' %}

   <div class="bux-mar-top-sp-16"></div> 

  {% include base_path ~ directory ~ bux ~ '/twig/text-field.twig' %} 
  
 <div class="bux-mar-top-sp-16"></div> 

 {% include base_path ~ directory ~ bux ~ '/twig/text-field--password.twig' %} 
  
 <div class="bux-mar-top-sp-16"></div> 

  {% include base_path ~ directory ~ bux ~ '/twig/text-area.twig' %}

  <div class="bux-mar-top-sp-16"></div>

  {% include base_path ~ directory ~ bux ~ '/twig/button.twig' %} 

  <div class="bux-mar-bottom-sp-32"></div>

  </div>

  </div>

  {% include base_path ~ directory ~ bux ~ '/twig/pagination.twig' %}

  <div class="bux-mar-bottom-sp-32"></div>

</div>

</div>

{% include base_path ~ directory ~ bux ~ '/twig/footer.twig' %}
