{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<div class="bux-grid__cell bux-grid__cell--12@sm">
{% include base_path ~ directory ~ bux ~ '/twig/breadcrumb.twig' %}
<h1>H1 page title</h1>
<div class="page-subhead">One to three concise sentences of introtext informs visitors what the purpose of the
webpage is. It helps users quickly decide if they’re in the right place or not.</div>
</div>
     
<div class="bux-grid__cell bux-grid__cell--12 bux-mar-top-sp-24">
     <!-- start featured card-->
<div class="bux-featured-card bux-grid bux-grid--no-gutters  bux-featured-card--image-left">

    <div class="bux-featured-card--wrapper bux-grid__cell bux-grid__cell--12 bux-grid__cell--5@md">
        <div class="bux-card bux-card--featured">
            <a class="bux-card__link" href="#" aria-hidden="true" tabindex="-1"></a>
            <div class="bux-card__content event-main">
                <div class="event-date">
                    <div class="event-month">Month</div>
                    <div class="event-day">12</div>
                </div>
                <div class="event-main-content">
                <span class="event-topic">
                    Optional Topic
                </span>
  
                <h3 class="bux-card__heading" style="margin-bottom: 20px;">
                    <span>Event Title</span>
                </h3>
        <div class="icon">
            <span class="icon-clock"></span>
            <div><strong>Time</strong> 1:30 p.m. - 2:00 p.m.</div>
            </div>
            
            <div class="icon">
            <span class="icon-location-pin"></span>
                <div><strong>Location</strong> Location Name</div>
            </div>
            </div>
  
                
            </div>
        </div>
    </div>
  
    <div class="bux-featured-card--image bux-grid__cell bux-grid__cell--12 bux-grid__cell--7@md">
        <img src={{ "/images/placeholders/bux-image-placeholder-16-9.png"|path }} alt="">
    </div>
  
  </div>
<!-- end featured card -->
</div>
{% for i in 0..5 %}
<div class="bux-grid__cell bux-grid__cell--12 event-row bux-mar-top-sp-64">
    <div class="date-details">
    <!-- start event date -->
    <div class="event-date-row">
        <div class="event-month">Month</div>
        <div class="event-day">12</div>
    </div>
    <!-- end event date -->
    <!-- start event details -->
    <div class="event-main-content-row">
        <span class="event-topic">
            Optional Topic
        </span>

        <h3 class="bux-card__heading">
            <span>Event Title</span>
        </h3>
        <div class="icon">
            <span class="icon-clock"></span>
            <div><strong>Time</strong> 1:30 p.m. - 2:00 p.m.</div>
            </div>
            
            <div class="icon">
            <span class="icon-location-pin"></span>
                <div><strong>Location</strong> Location Name</div>
            </div>
    </div>
    <!-- end event details -->
    </div>
    <!-- start event image -->
    <div class="event-image-row">
        <img src={{ "/images/placeholders/bux-image-placeholder-16-9.png"|path }} alt="">
    </div>
    <!-- end event image -->
    </div>
{% endfor %}
