{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<h1>Visual Regression Testing Demo Page</h1>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/accordion-group.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/alert.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/alert--success.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/alert--warning.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/alert--error.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/alert--interactive-warning.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/back-to-top.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/breadcrumb.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/buckeye-alert.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/button.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/button--alternate.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/button--disabled.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/button--alternate-disabled.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/button--small.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/button--alternate-small.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/button--alternate-small-disabled.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/button--with-icon.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card--gray.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card--without-border.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card--without-image.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card--without-body-copy.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card--linked-headline.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card--storytelling.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card--featured.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card--horizontal.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card--horizontal-storytelling.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/card-collection-carousel.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/cta-collection.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/cta-collection--with-ui-icons.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/cta-collection--with-standard-icons.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/cta-collection--gray-background.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/doc-pagination.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/factoid.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/featured-card.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/featured-card--image-left.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/footer.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/footer--dark.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/footer--white.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/checkbox.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/checkbox--disabled.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/radio-button.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/radio-button--disabled.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/selection-dropdown.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/selection-dropdown--disabled.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/switch.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/switch--disabled.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/text-area.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/text-area--disabled.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/text-area--error.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/text-field.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/text-field--disabled.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/text-field--error.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/text-field--password.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/header.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/header--slogan.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/header--parent.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/hero.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/hero--full_width_gray.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/link.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/link--alt.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/link--reverse.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/link--scarlet.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/link--icon-before.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/link--icon-after.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/link-list.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/list-description.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/list-ordered.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/list-unordered.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/listicle.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/menu--with-search.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/pagination.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/pagination--alt.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/pagination--reverse.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/pagination--truncated.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/panel.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/paragraph.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% render '@q+a' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% render '@q+a--storytelling' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/quote.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/search-form.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/sidebar-nav.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/social-links.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/social-links--dark.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/social-links--white.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/table.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/table--striped.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/table--compact.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/table--two-headers.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/table--sortable.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/tabpanel.twig' %}
</div>

{# <div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/text-link.twig' %}
</div> #}

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/tile.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/tile--standard-icon.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/tile--ui_icon.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/tile--with-text.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/tile--with-image.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/tile--with-1-1-image.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/timeline.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/timeline--right-aligned.twig' %}
</div>

<div class="bux-mar-tb-sp-16">
    {% include base_path ~ directory ~ bux ~ '/twig/timeline--center-aligned.twig' %}
</div>
